<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Code Error</title>
    </head>
    <body>
        <p>
            코드를 잘못 입력했습니다. 다시 확인해 주세요. <br />
            유효한 코드는 00, 01,02 입니다.
        </p>
        <br />
        <div>
            <input type="button" value="뒤로가기" onclick="history.back();" />
        </div>
        <br />
    </body>
</html>
